/* complete_intro/coffee_masters/style.css */

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #412315;
}

.logo-container {
  display: flex;
  align-items: stretch;
  align-items: center;
  justify-content: center;
  height: 40px;
}

img {
  padding: 5px;
}

h1 {
  font-family: cursive;
  font-size: 25px;
  color: #e8ddb0;
}

h2 {
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 0px;
  margin: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  color: #a37e5a;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 300px;
}

li {
  padding-bottom: 5px;
  color: #a37e5a;
}

li:first-child {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

p {
  margin: 0px;
  text-align: left;
  text-justify: auto;
  margin-right: 10px;
  margin-top: 2px;
}

.price {
  text-align: right;
  margin-right: 0px;
  justify-self: flex-end;
  font-weight: bold;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid #a37e5a 2px;
}

.items-container {
  display: flex;
  flex-direction: column;
  background-color: #eee1d5;
  padding: 10px;
  padding-left: 15px;
  padding-right: 20px;
  margin: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: flex-start;
  align-items: flex-start;
  align-self: flex-start;
}

.item-container:last-child {
  border-bottom: none;
}

.big-padding {
  margin: 0px;
}

.checkout-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 35px;
}

td {
  padding-bottom: 10px;
}

tr:last-child {
  font-weight: bold;

  td {
    padding-top: 10px;
  }
}

td:last-child {
  padding-left: 200px;
  text-align: right;
}

.subtotal-container {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.place-order-button {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  background-color: #deb993;
  border: none;
}

.no-height {
  height: inherit;
}

body {
  display: grid;
  grid-template-rows: 1f;
  margin: 0px;
  padding: 0px;
  background: #efefef;
}
