/* complete_intro/coffee_masters/style.css */

* {
  box-sizing: border-box;
}

:root {
  --background: #efefef;
  --window-background: #eee1d5;
  --main-color: #412315;
  --secondary-color: #e8ddb0;
  --tertiary-color: #a37e5a;
  --button-color: #deb993;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
}

.logo-container {
  display: flex;
  align-items: stretch;
  align-items: center;
  justify-content: center;
  height: 40px;
}

img {
  padding: 5px;
}

h1 {
  font-family: cursive;
  font-size: 25px;
  color: var(--secondary-color);
}

h2 {
  font-family: sans-serif;
  font-size: 15px;
  padding-top: 0px;
  margin: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--tertiary-color);
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  padding-bottom: 2px;
  color: var(--tertiary-color);
}

li:first-child {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

p {
  margin: 0px;
  text-align: left;
  text-justify: auto;
  margin-right: 10px;
  margin-top: 2px;
}

.price {
  text-align: right;
  margin-right: 0px;
  justify-self: flex-end;
  font-weight: bold;
}

.item-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid var(--tertiary-color) 2px;
}

.items-container {
  display: flex;
  flex-direction: column;
  background-color: var(--window-background);
  padding: 10px;
  padding-left: 15px;
  padding-right: 20px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.input-container {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.fullwidth-input {
  background-color: rgba(0, 0, 0, 0);
  border-color: var(--tertiary-color);
  padding: 9px;
  border-radius: 25px;
  border-style: solid;
  width: 100%;
  padding-inline: 25px;
}

.ccv-input {
  width: 200px;
}

.input-label {
  background-color: var(--window-background);
  color: var(--tertiary-color);
  font-size: 15px;
  position: absolute;
  left: 25px;
  top: -9px;
  padding: 0px 3px;
}

.item-container:last-child {
  border-bottom: none;
}

.big-padding {
  margin: 0px;
}

.checkout-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 35px;
  align-items: start;
}

td {
  padding-bottom: 10px;
}

tr:last-child {
  font-weight: bold;

  td {
    padding-top: 10px;
  }
}

td:last-child {
  padding-left: 200px;
  text-align: right;
}

.subtotal-container {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.place-order-button:hover {
  background-color: var(--tertiary-color);
}

.place-order-button {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  background-color: var(--button-color);
  border: none;
  border-radius: 25px;
}

.no-height {
  height: inherit;
}

body {
  display: grid;
  grid-template-rows: 1f;
  margin: 0px;
  padding: 0px;
  background: var(--background);
}

.logo {
  height: inherit;
}
